@tailwind base;
@tailwind components;
@tailwind utilities;

.dark{
  background-color:hsl(207, 26%, 17%);
  color:hsl(0, 0%, 100%);
}
.dark .back, .dark .card, .dark .dropDown, .dark .input-field, .dark .label{
  background-color: hsl(209, 23%, 22%);
}

.header{
  @apply flex justify-between  mb-[2rem] max-w-[1600px] mx-auto
}
.search_bar{
  @apply flex justify-between items-center
}
.input-field{
@apply border-none focus:outline-none  
}
.cardContainer{
  @apply flex  flex-wrap  gap-16
}
.card{
  @apply pb-[2rem] mt-[2rem] shadow-[white] rounded  h-[450px] w-[350px] ;

}
.back, .dropDown,.label, .header-section, .card, img{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
}
.img{
  @apply h-[200px] w-[350px] overflow-hidden
}
.dropDown{
  @apply w-[200px] h-[50px]  border-none focus:outline-none flex items-center bg-white m-[1rem] px-[0.75rem]  
}
.data{
  @apply  p-[2rem]
}
.mode{
  @apply  w-[150px] flex items-center
}
.label{
  @apply flex items-center gap-4  w-[500px] h-[50px] rounded  px-[2rem]

}
.heading{
  @apply font-bold text-xl  pb-5  w-[200px]
}
.details{
  @apply font-bold
}

.info{
   @apply leading-9
}